/* Contacto */

.contacto
	padding: 90px 0
	background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
	background-size: 16px 16px
	background-color: $fondo
	background-attachment: fixed

	.contact-title
		text-align: center 

		h2 
			color: $textoClaro
			font-size: 2.5rem
			line-height: 40px
			font-weight: 600
			text-transform: uppercase

	.port_divisor
		width: 100%
		
		.div_item 
			border-top: 1px solid $nav
			border-bottom: 1px solid rgba(0, 0, 0, .3)
			max-width: 350px

	.main_form
		padding: 50px 50px
		background: $textoOscuro
		border-radius: 5px
		margin-top: 10px

		.campo
			padding: 0px 20px
			margin-bottom: 20px
			width: 100%
			height: 60px
			background: $fondo
			color: $textoClaro
			font-size: 17px
			border-color: $btnColor

		.textarea
			border-color: $btnColor
			padding: 11px 19px
			width: 100%
			background: $fondo
			color: $textoClaro
			font-size: 17px


		.btn_enviar
			font-size: 17px
			background: $btnColor
			color: $textoOscuro
			padding: 13px 0px
			margin: 0 auto 
			display: block
			margin-top: 30px
			max-width: 200px
			text-transform: uppercase
			width: 100%
			border: 0
			border-radius: 10px
			cursor: pointer
			transition: ease-in all .25s

			&:hover
				background: $nav
				color: $textoClaro
				border-radius: 30px