/* Pie de pagina */

.portFooter
	background: $nav
	padding: 20px 0px
	width: 100%

	.copy
		color: $textoClaro
		opacity: .8
		text-transform: uppercase

	.img-icono
		float: left 
		margin-right: 5px

		img
			border-radius: 50%
			font-size: 16px
			transition: all 0.3s ease-in-out

			&:hover
				cursor: pointer
				transform: rotate(360deg)