/* Pie de pagina */

.portFooter
	background: $foot
	padding: 2rem
	width: 100%

	.copy
		color: $textoClaro
		opacity: .8
		text-transform: uppercase
		font-weight: 600
		font-family: $font

	.location
		color: $textoClaro
		text-transform: uppercase
		font-weight: 700
		font-family: $font

	.lead 
		color: $textoClaro
		font-family: $font

	.rrss a
		display: inline-block
		width: 40px
		margin-right: 5px

		img
			border-radius: 50%
			font-size: 16px
			transition: all .25s ease-in-out

			&:hover
				cursor: pointer
				transform: rotate(360deg)
				opacity: .8