/* Modal */

.portfolio-modal

	.cerrar
		padding: 1rem
		margin-left: auto 
		background: transparent
		color: $btnColor
		font-size: 2rem
		border: none
		cursor: pointer

	.portfolio-modal-title
		font-size: 2.25rem
		line-height: 2rem
		font-family: $font
		text-transform: uppercase
		color: $textoOscuro