/* Habilidades */

.habilidades
	padding-top: 7.5rem
	padding-bottom: 7.5rem
	background: linear-gradient(rgba(224, 224, 223, .8))

	.conocimiento h2
		font-size: 3rem
		text-transform: uppercase
		color: $textoOscuro

	.icono img
		background-size: 16px