/* Habilidades */

.habilidades
	padding-top: 7.5rem
	padding-bottom: 7.5rem
	background: $fondo

	.conocimiento h2
		font-size: 3rem
		text-transform: uppercase
		color: $textoClaro

	.icono img
		background-size: 16px

		&:hover
			opacity: .7