// Colores

// Navbar y Footer 
$navFoot: rgba(14, 19, 31, 1)

// Texto 

$textoOscuro: rgba(89, 84, 108, 1)
$textoClaro: rgba(139, 147, 156, 1)

// Fondos 

$fondo: rgba(56, 64, 95, 1)

// Botones

$imperial-red: rgba(255, 0, 53, 1)