html {
  scroll-behavior: smooth; }

body {
  position: relative; }

*, *::before, *::after {
  box-sizing: border-box; }

/* Navegacion */
.navbar {
  background: #61892F;
  box-shadow: 0 1px 0.4rem; }
  .navbar .img-logo {
    height: 50px;
    width: 80px; }
  .navbar .navbar-nav {
    margin-left: auto; }
  .navbar .nav-item {
    padding: 0px 10px; }
  .navbar .nav-link {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(currentColor 0 0) 0 100%/var(--d, 0) 3px no-repeat;
    transition: 0.4s; }
    .navbar .nav-link:hover {
      color: #474B4F;
      --d: 100%; }

/* Presentacion */
.hero-bg {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-size: 16px 16px;
  background-color: #222629;
  background-attachment: fixed;
  height: 100vh;
  width: 100%; }
  .hero-bg .presentacion {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%; }
  .hero-bg .nombre {
    margin: 0;
    font-size: 6em;
    line-height: calc(20px + 20vh);
    line-height: 1.6em;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    animation: glow 1s ease-in-out infinite alternate; }
  .hero-bg .divisor {
    width: 400px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .hero-bg li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px; }
  .hero-bg .rrss-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px; }

/* Sobre Mi */
.sobreMi {
  padding-top: 10rem;
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-size: 16px 16px;
  background-color: #222629;
  background-attachment: fixed; }
  .sobreMi .descripcion {
    color: #FFFFFF;
    opacity: 0.9; }

p {
  margin-bottom: 5rem;
  color: #FFFFFF;
  opacity: 0.8; }

/* Habilidades */
.habilidades {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  background: #222629; }
  .habilidades .conocimiento h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #FFFFFF; }
  .habilidades .port_divisor {
    width: 100%; }
    .habilidades .port_divisor .div_item {
      border-top: 1px solid #61892F;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      max-width: 350px; }
  .habilidades .icono img {
    background-size: 16px; }
    .habilidades .icono img:hover {
      opacity: 0.7;
      transform: scale(1.1); }

/* Portfolio */
.portafolio {
  background: #222629;
  padding: 6rem 0; }
  .portafolio .portafolio-titulo {
    font-size: 2.5rem;
    line-height: 2rem;
    color: #FFFFFF;
    text-transform: uppercase; }
  .portafolio .port_divisor {
    width: 100%; }
    .portafolio .port_divisor .div_item {
      border-top: 1px solid #61892F;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      max-width: 350px;
      margin-bottom: 30px; }
  .portafolio .portafolio-item {
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer; }

/* Contacto */
.contacto {
  padding: 90px 0;
  background: #222629; }
  .contacto .contact-title {
    text-align: center; }
    .contacto .contact-title h2 {
      color: #FFFFFF;
      font-size: 2.5rem;
      line-height: 40px;
      font-weight: 600;
      text-transform: uppercase; }
  .contacto .port_divisor {
    width: 100%; }
    .contacto .port_divisor .div_item {
      border-top: 1px solid #61892F;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      max-width: 350px; }
  .contacto .main_form {
    padding: 50px 50px;
    background: #474B4F;
    border-radius: 5px;
    margin-top: 10px; }
    .contacto .main_form .campo {
      padding: 0px 20px;
      margin-bottom: 20px;
      width: 100%;
      height: 60px;
      background: #222629;
      color: #FFFFFF;
      font-size: 17px;
      border-color: #86C232; }
    .contacto .main_form .textarea {
      border-color: #86C232;
      padding: 11px 19px;
      width: 100%;
      background: #222629;
      color: #FFFFFF;
      font-size: 17px; }
    .contacto .main_form .btn_enviar {
      font-size: 17px;
      background: #86C232;
      color: #474B4F;
      padding: 13px 0px;
      margin: 0 auto;
      display: block;
      margin-top: 30px;
      max-width: 200px;
      text-transform: uppercase;
      width: 100%;
      border: 0;
      border-radius: 10px;
      cursor: pointer;
      transition: ease-in all 0.4s; }
      .contacto .main_form .btn_enviar:hover {
        background: #61892F;
        color: #FFFFFF;
        border-radius: 30px; }

/* Pie de pagina */
.portFooter {
  background: #6B6E70;
  padding: 20px 0px;
  width: 100%; }
  .portFooter .copy {
    color: #FFFFFF;
    opacity: 0.8;
    text-transform: uppercase;
    font-weight: 700; }
  .portFooter .rrss a {
    display: inline-block;
    width: 40px;
    margin-right: 5px; }
    .portFooter .rrss a img {
      border-radius: 50%;
      font-size: 16px;
      transition: all 0.3s ease-in-out; }
      .portFooter .rrss a img:hover {
        cursor: pointer;
        transform: rotate(360deg);
        opacity: 0.8; }

/*# sourceMappingURL=estilos.css.map */
