/*
Error: Invalid CSS after "...adial-gradient(": expected ")", was ""
        on line 7 of _hero.sass
        from line 17 of estilos.sass

2: 
3: .hero-bg
4: 	padding-top: 50px
5: 	padding-bottom: 50px
6: 	text-align: center 
7: 	background-image: repeating-radial-gradient(
8: 		radial-gradient(black 15%, transparent 16%) 0 0,
9: 		radial-gradient(black 15%, transparent 16%) 8px 8px,
10: 		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
11: 		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
12: 		background-color:#282828

Backtrace:
_hero.sass:7
estilos.sass:17
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/lexer.rb:240:in `expected!'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:862:in `assert_tok'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:644:in `funcall'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:531:in `css_min_max'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:507:in `ident'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_not'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_div'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_minus'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_plus'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `times_div_or_mod'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `plus_or_minus'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `relational'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `eq_or_neq'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `and_expr'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `or_expr'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:481:in `space'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:422:in `interpolation'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:343:in `expr'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:853:in `assert_expr'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:68:in `parse'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script/parser.rb:228:in `parse'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/script.rb:27:in `parse'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:1169:in `parse_script'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:745:in `parse_property'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:707:in `parse_property_or_rule'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:666:in `parse_line'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:539:in `build_tree'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:548:in `block in build_tree'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:541:in `each'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:541:in `build_tree'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:417:in `_to_tree'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:321:in `to_tree'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
C:/Ruby30/lib/ruby/gems/3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...adial-gradient(\": expected \")\", was \"\"\A         on line 7 of _hero.sass\A         from line 17 of estilos.sass\A \A 2: \A 3: .hero-bg\A 4: 	padding-top: 50px\A 5: 	padding-bottom: 50px\A 6: 	text-align: center \A 7: 	background-image: repeating-radial-gradient(\A 8: 		radial-gradient(black 15%, transparent 16%) 0 0,\A 9: 		radial-gradient(black 15%, transparent 16%) 8px 8px,\A 10: 		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,\A 11: 		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px\A 12: 		background-color:#282828"; }
